@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    list-style: none;
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Evita que os elementos aumente de tamanho inesperadamente fecilitando o controle de responsividade*/
}

/* personalização do header */
.header {
    background-color: #000000;
    color: white;
    padding: 1.5rem;
    /*poderia ser 24px*/

    /* alinhamento dos itens */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;


    /* header fixo */
    position: sticky;
    /*posicionamento do header para sobrepor os outros elementos*/
    left: 0;
    top: 0;
    z-index: 999;
    /*eixo z - profundidade do elemento*/
}


/* logo do header */
.logo img {
    width: 20%;
    /*usando o % para diminuir seu tamanho*/
}



/* estilizando o botão de login no header */
.login-button a button {
    border-radius: 15px;
    /*arredondamento da borda*/
    font-weight: 700;
    /*espessura da fonte do botão*/
    padding: 0.5rem;
    /*8px-preenchimento*/
    width: 5rem;
    /*poderia ser 80px*/
    background-color: #cccccc;
    /*cor de fundo do botão*/
    border: none
        /*remoção das bordas*/
}

/* fim da personalização do header */


/* section 1 */

.section-01 {
    background: #0a3d54;
    background: linear-gradient(6deg, rgba(10, 61, 84, 1) 0%, rgba(15, 44, 89, 1) 50%);
    background-image: url(../imagens/artoras.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 9rem;
    /*preenchimento interno da section*/

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /*poderiamos usar 32px */
    flex-wrap: wrap;
    /*isso siginifica que as div poderão quebrar de linha, caso necessário*/
}



.div-01 {
    background-color: #0F2C59;
    /*cor de fundo da caixa*/
    text-align: center;
    /*alinha os textos no centro ou na altura desejada*/
    color: white;
    /*cor dos textos*/
    font-size: 1.3rem;
    /*tamanho da letra dentro da caixa*/
    min-width: 299px;
    padding: 1rem;
    height: 16rem;
    width: 25%;
}

.ul-div1 a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 4px;
    font-size: 1rem;
    border-radius: 5px;
    /*arredondamento da borda*/

}

.ul-div1 li {
    margin: 5px 5px;
    /*alterando os 4 lados externos do elementos, primeiro valor é superior e inferior e o segundo valor é os laterais esquerda e direita*/

}



.div-02 {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 50px;
    flex-direction: row;
    min-width: 299px;
    padding: 1rem;
    height: 16rem;
    width: 25%;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, rgba(42, 123, 155, 0.212) 0%, rgba(87, 199, 134, 0.295) 50%, rgba(237, 221, 83, 0.37) 100%), url(../imagens/Dark\ Souls\ Bonfire\ GIF.gif)
}

.fa-solid,
.a-gamepad {
    color: white;
    font-size: 1.3rem;
    margin-right: 30px;
}


.fa-solid:hover,
.a-gamepad:hover {
    color: red;
    transition: 0.8s;
}

